---
title: Porównanie wyników testów obciążenia w programie Visual Studio
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: gewarren
ms.author: gewarren
manager: douge
ms.prod: visual-studio-dev15
ms.technology: vs-ide-test
ms.openlocfilehash: a23c6da2f27ef5b25d33caa3a464ec0f4018b40b
ms.sourcegitcommit: 4667e6ad223642bc4ac525f57281482c9894daf4
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 06/20/2018
ms.locfileid: "36280519"
---
# <a name="report-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Wyniki dla potrzeb porównań testów lub analizy trendów testów obciążenia raportu

Można generować raportów testu obciążenia programu Microsoft Excel, które są oparte na dwóch lub więcej wyników testu. Dostępne są dwa typy raportów testu obciążenia:

- Uruchom porównanie&mdash;tego raportu jest rzeczywiście dwa raporty, które zawierają dane porównania side-by-side przy użyciu tabel i wykresów słupkowych.

- Trend&mdash;mogą generować Analiza trendu na dwa lub więcej raportów. Wyniki są wyświetlane przy użyciu wykresów.

Albo może być stosowany do udostępniania danych wydajności z zainteresowanymi stronami i przekazywać czy ogólnej wydajności i kondycji systemu programu będzie niedługo lepsze np.

Definicje raportów są przechowywane w bazie danych testu obciążenia. Po zapisaniu raportu definicji raportu jest zapisywany w bazie danych i może zostać użyty ponownie później.

Ponadto plik arkusza kalkulacyjnego można udostępniać uczestników, aby uczestnicy projektu nie masz połączenia z bazą danych, aby wyświetlić raport.

> [!NOTE]
> Jeśli dodasz komentarze do testu obciążenia, będą wyświetlane w raporcie programu Excel. Aby uzyskać więcej informacji, zobacz [porady: dodawanie komentarzy podczas analizowania zakończonego testu obciążenia](../test/how-to-add-comments-on-a-completed-load-test.md).

## <a name="tasks"></a>Zadania

|Zadania|Skojarzone — tematy|
|-----------|-----------------------|
|**Tworzenie raportu wydajnościowe i obciążeniowe:** można tworzyć raporty na testy wydajności sieci Web i obciążenia za pomocą programu Microsoft Excel.|- [Porady: tworzenie w programie Microsoft Excel raportów wydajności testu obciążenia](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Ręczne tworzenie raportu wydajności i obciążenia za pomocą programu Microsoft Word:** można tworzyć raporty na testy wydajności sieci Web i obciążenia, na których ręcznie kopiując i wklejając podsumowanie, tabeli i dane wykresu do dokumentu programu Microsoft Word.|- [Porady: ręczne tworzenie raportu wydajności testu obciążenia za pomocą programu Microsoft Word](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Zobacz także

- [Analizowanie wyników testów obciążenia](../test/analyze-load-test-results-using-the-load-test-analyzer.md)