---
title: Porównanie wyników testów obciążenia w programie Visual Studio
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: gewarren
ms.author: gewarren
manager: douge
ms.prod: visual-studio-dev15
ms.technology: vs-ide-test
ms.openlocfilehash: 66893198028fcd23e3d42e1e595764e723ed82da
ms.sourcegitcommit: e13e61ddea6032a8282abe16131d9e136a927984
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 04/26/2018
ms.locfileid: "31966370"
---
# <a name="reporting-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Raportowanie wyników testów obciążenia do potrzeb porównań testów lub analizy trendów

Można generować raportów testu obciążenia programu Microsoft Excel, które są oparte na dwóch lub więcej wyników testu. Dostępne są dwa typy raportów testu obciążenia:

- Uruchom porównanie&mdash;tego raportu jest rzeczywiście dwa raporty, które zawierają dane porównanie obok siebie przy użyciu tabel i wykresów słupkowych.

- Trend&mdash;mogą generować Analiza trendu na dwa lub więcej raportów. Wyniki są wyświetlane przy użyciu wykresów.

Albo może być stosowany do udostępniania danych wydajności z zainteresowanymi stronami i przekazywać czy ogólnej wydajności i kondycji systemu programu będzie niedługo lepsze np.

Definicje raportów są przechowywane w bazie danych testu obciążenia. Podczas zapisywania raportu definicja raportu jest zapisywany w bazie danych i później mogą być ponownie używane.

Ponadto plik arkusza kalkulacyjnego można udostępniać uczestników, aby uczestnicy projektu nie masz połączenia z bazą danych, aby wyświetlić raport.

> [!NOTE]
> Jeśli dodasz komentarze do testu obciążenia, będą wyświetlane w raporcie programu Excel. Aby uzyskać więcej informacji, zobacz [porady: dodawanie komentarzy podczas analizowania testu obciążenia ukończone](../test/how-to-add-comments-on-a-completed-load-test.md).

## <a name="tasks"></a>Zadania

|Zadania|Skojarzone — tematy|
|-----------|-----------------------|
|**Tworzenie raportu wydajnościowe i obciążeniowe:** można tworzyć raporty na testy wydajności sieci Web i obciążenia za pomocą programu Microsoft Excel.|- [Porady: tworzenie raportów wydajności testu obciążenia za pomocą programu Microsoft Excel](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Ręczne tworzenie raportu wydajności i obciążenia za pomocą programu Microsoft Word:** można tworzyć raporty na testy wydajności sieci Web i obciążenia, na których ręcznie kopiując i wklejając podsumowanie, tabeli i dane wykresu do dokumentu programu Microsoft Word.|- [Porady: ręczne tworzenie raportu wydajności testu obciążenia za pomocą programu Microsoft Word](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Zobacz także

- [Analizowanie wyników testów obciążenia](../test/analyze-load-test-results-using-the-load-test-analyzer.md)