---
title: 'Porady: Tworzenie wykresów niestandardowych w wynikach testów obciążenia w programie Visual Studio'
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: gewarren
ms.author: gewarren
manager: douge
ms.prod: visual-studio-dev15
ms.technology: vs-ide-test
ms.openlocfilehash: 633c309193c23834b4848e189fdf677f0abc8ef0
ms.sourcegitcommit: e13e61ddea6032a8282abe16131d9e136a927984
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 04/26/2018
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Porady: tworzenie wykresów niestandardowych w wynikach testów obciążenia

Można projektować wykresy zawierające szczegółowe informacje na temat wyników testu obciążenia. Projektowanie wykres niestandardowe, określając liczniki testu obciążenia, które służy do wyświetlenia wykresu.

 Podczas testu obciążenia jest uruchomiona lub po zakończeniu można wykonać poniższą procedurę.

## <a name="to-create-a-custom-load-test-results-graph"></a>Aby utworzyć wykres wyników testu obciążenia niestandardowych

1.  Na pasku narzędzi testu obciążenia, wybierz **Dodaj nowy wykres**.

     \- lub -

     Na analizatora testu obciążenia, kliknij prawym przyciskiem myszy w panelu liczników lub na wykresie, a następnie wybierz **Dodaj wykres**.

     **Wprowadź nazwę wykresu** zostanie wyświetlone okno dialogowe.

2.  W obszarze **nazwa wykresu**, wpisz nazwę programu Graph i wybierz **OK**.

     Zostanie wyświetlony nowy wykres analizatora testu obciążenia. Wygląda na to, na panelu aktualnie wybranego wykresu; zastępuje wykresu, który był wyświetlany w panelu.

3.  Dostosuj nowy wykres przez dodanie liczników. Aby uzyskać więcej informacji, zobacz [porady: Dodawanie i usuwanie liczników na wykresach](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Zobacz także

- [Analizowanie wyników testów obciążenia w widoku wykresu](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Porady: Dodawanie i usuwanie liczników na wykresach](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)